@model AV.Models.Auftrag

@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Create</h1>
<h2>Auftrag Details</h2>
<div>
    <p>@Model.Beschreibung</p>
    <!-- Weitere Details des Auftrags anzeigen -->
</div>
<h3>Positionen</h3>
<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Produkt</th>
            <!-- Weitere Spaltenüberschriften -->
        </tr>
    </thead>
    <tbody>
        @foreach (var position in Model.Position)
        {
            <tr>
                <td>@position.Produkt.Bezeichnung</td>
                <!-- Weitere Daten der Position anzeigen -->
            </tr>
        }
    </tbody>
</table>
<hr />

<h3>Produkt auswählen</h3>
@using (Html.BeginForm("SaveOrder", "Auftrag", FormMethod.Post))
{
    <div>
        @Html.DropDownList("ProductId", ViewBag.Produkte as SelectList, "Wählen Sie ein Produkt aus")
        <input type="submit" value="Produkt hinzufügen" />
    </div>
}
<div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-secondary">Zurück zur Liste</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
